

<nav class="navbar navbar-toggleable-md navbar-light bg-faded"  style="background-color: #a5983c;" >
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="<%= admin_index_path%>">Admin Panel</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= admin_users_path%>">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= admin_users_path%>">Sentry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="">Accounts</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="<%= admin_templates_path %>">Templates</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
    </form>
  </div>
</nav>



