
 <div class="row">
      <div class="col-md-9">
      	<%= render 'welcome/profile/language'%>
      </div>
      
      <div class="col-md-3">
      	<%= render 'welcome/profile/category'%>
      </div>
     
</div>


<hr>
<%= render 'welcome/profile/bio', user: @user %>










