<!DOCTYPE html>
<html>
<head>
	<title>Notify Email</title>
</head>
<body>
<h1>
	<center>
		<%= @subject %>
	</center>
</h1>
<br>
<h5>
	Date : <%= @date %>
</h5>
<h4>
	<%== @content %>
</h4>
</body>
</html>